{% extends 'galeria/base.html' %}
{% load <static> %}
{% block content %}
            <section class="conteudo">
                <section class="imagem">
                    <div class="imagem__conteudo">
                        <img class="card__imagem" src="{{ filme.capa.url }}" alt="foto">
                        <div class="imagem__info">
                            <div class="imagem__texto">
                                <p class="imagem__titulo">{{ filme.titulo }} | {{ filme.ano_de_producao}}</p>
                                <p class="imagem__descricao">{{ filme.genero }} | {{ filme.elenco }}</p>
                                <p class="imagem__texto">{{ filme.sinopse }}</p>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </main>
    </div>
{% endblock %}