{% extends 'galeria/base.html' %}
{% load static %}
{% block content %}
            <section class="conteudo">
                <section class="imagem">
                    <div class="imagem__conteudo">
                        <img class="card__imagem" src="{{ filme.capa.url }}" alt="foto">
                        <div class="imagem__info">
                            <div class="imagem__texto">
                                <p class="imagem__titulo">{{ filme.titulo }} | {{ filme.ano_de_producao}}</p>
                                <p class="imagem__descricao">{{ filme.genero }} | {{ filme.elenco }}</p>
                                <p class="imagem__texto">{{ filme.sinopse }}</p>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
            <br/><br/>
            <div id="fav-section">
                <form action="{% url 'favViews' filme.id %}" method="POST" class="ui form">
                    {% csrf_token %}
                    <input type="hidden" name="filme_id" value="{{ filme.id }}">
                    {% if tem_fav %}
                        <button class="ui button negative" type="submit">Desfavoritar</button>
                    {% else %}
                        <button class="ui button positive" type="submit">Favoritar</button>
                    {% endif %}
                </form>
            </div>
            <div id="watchlist-section">
                <form action="{% url 'watchlist' filme.id %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="filme_id" value="{{ filme.id }}">
                    {% if tem_wl %}
                        <button type="submit">Remover da sua watchlist</button>
                    {% else %}
                        <button type="submit">Adicionar para a sua watchlist</button>
                    {% endif %}
                </form>
            </div>
        </main>
    </div>
{% endblock %}