{% extends 'galeria/base.html' %}
{% load static %}
{% block content %} 
<section class="conteudo">
    {% comment %} <section class="banner">
        <img class="banner__imagem" src="{% static '/assets/imagens/Banner(2).png' %}" alt="banner Alura Space">
        <h1 class="banner__titulo"> A galeria mais completa de fotos do espaço!</h1>
    </section> {% endcomment %}
    
    <section class="galeria">
        <div class="cards">
            <h2 class="cards__titulo">                 POPULARES NO MOMENTO               </h2>
            <ul class="cards__lista">
                {% if cards %}
                {% for filme in cards %}
                <li class="card">
                    <a href="{% url 'imagem' filme.id %}">
                        <img class="card__imagem" src="{{ filme.capa.url }}" alt="foto">
                    </a>
                    <span class="card__tag">5.0 ⭐</span>
                    <div class="card__info">
                        <p class="card__titulo">{{ filme.titulo }}</p>
                        <div class="card__texto">
                            <p class="card__descricao">{{ filme.genero }}</p>
                            <span>
                                <img src="{% static '/assets/ícones/1x/favorite_outline.png' %}" alt="ícone de coração">
                            </span>
                        </div>
                    </div>
                </li>
                </li>
                {% endfor %}
                {% else %}
                {% endif %}
            </ul>
        </div>
    </section>
</section>
</main>
</div>
{% endblock %}