{% extends 'galeria/base.html' %}
{% load static %}
{% block content %}     
<section class="galeria">
    <div class="cards">
        <h2 class="cards__titulo">                 POPULARES NO MOMENTO               </h2>
        <ul class="cards__lista">
            {% if cards %}
            {% for filme in cards %}
            <li class="card">
                <a href="{% url 'imagem' filme.id %}">
                    <img class="card__imagem" src="{{ filme.capa.url }}" alt="foto">
                </a>
                <span class="card__tag">{{ filme.estrelas|floatformat:1 }} ⭐</span>
                <div class="card__info">
                    <p class="card__titulo">{{ filme.titulo }}</p>
                    <div class="card__texto">
                        <p class="card__descricao">{{ filme.genero }}</p>
                        <span>
                            <form action="{% url 'favViews' pk=filme.id %}" method="POST">
                                {% csrf_token %}
                                {% if request.user in filme.favourites.all %}
                                    <input type="image" id="fav_filled" src="{% static '/assets/ícones/1x/favorite_outline - ativado.png' %}" alt="ícone de coração - ativado">
                                {% else %}
                                    <input type="image" id="fav_unfilled" src="{% static '/assets/ícones/1x/favorite_outline.png' %}" alt="ícone de coração - desativado">
                                {% endif %}
                            </form>
                        </span>
                    </div>
                </div>
            </li>
            </li>
            {% endfor %}
            {% else %}
            {% endif %}
        </ul>
    </div>
</section>
</main>
</div>
{% endblock %}